.framework {
  background: #FFF;
  border-radius: 3px;
  padding: 20px 10px;
  .logo {
    display: block;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
