.framework {
  background: #FFF;
  border-radius: 3px;
  padding: 20px 10px;

  &.dark-hover {
    &:hover {
      background-color: $dark-grey;
      transition: all 200ms ease-in-out;
      color: $light-text;
    }
  }

  &.light-hover {
    &:hover {
      background-color: $light-blue;
      transition: all 200ms ease-in-out;
      color: $dark-text;
    }
  }

  .logo {
    display: block;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
