body {
  background-color: $bg-color;
  font-family: "lato", sans-serif;
}

a {
  color: $link-color;
  transition: color 150ms ease-in-out;
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}
