// Colors
$light-blue: #55A9C7;
$dark-blue: #3E7C92;
$dark-grey: #333;
$light-grey: #FBFBFB;

$light-text: #FFF;
$dark-text: #333;

$blue-overlay: rgba(62, 124, 146, .73);
$dark-overlay: rgba(66, 66, 66, .73);

$link-color: $light-blue;
$link-hover: $dark-blue;

$bg-color: #EBEBEB;
$header-color: #fff;
$header-text: #BBBBBB;
